apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: openproject
spec:
  interval: 10m
  url: https://charts.openproject.org
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openproject
spec:
  interval: 5m
  chart:
    spec:
      version: '8.0.0'
      chart: openproject
      sourceRef:
        kind: HelmRepository
        name: openproject
      interval: 10m
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
      strategy: rollback
  values:
    {{ include "custom_values" . }}
