apiVersion: v1
kind: Secret
metadata:
  name: db-password
  namespace: openproject
type: Opaque
data:
  {{ include "database_password" . }}
---
apiVersion: v1
kind: Secret
metadata:
  {{ include "secrets_by_env" . }}
